html {
    scroll-behavior: smooth;
}

a 

body {
    margin: 0;
    background-image: linear-gradient(to right,#EDC1CB,#fff) ;

}
ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    height: 0px;
}
nav {
    background-color: #000;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

h1, p {
    color: #fff;
}


nav, ul {
    display: flex;
    flex-direction: row;
   
}


li {
    padding: 0 20px;
    
}
h1 {
    margin: 0;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}


li:hover, h1:hover, button {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

button:focus ~ ul {
    height: 250px;
}
@media (max-width: 700px) {
    body {
        background-image:(linear-gradient(to right,#EDC1CB,#fff) ;
    }
    nav, ul {
        flex-direction: column;
      
    }
    ul {

        text-align: center;
        right:0;
        margin:0;
    }

    nav {
        padding: 0px;
          align-items: flex-start;
    }

        h1 {
            margin:10px
        }
    button {
        display: flex;
    }
     li, ul {
        width: 100%;

      
     }








}





















