


.container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
   text

}

.centralizando {
    text-align: center;
}
.formulario {
    border: 1px solid #000;
    width: 500px;
    height: 500px;
    padding: 30px;
}

.button{
    border-radius: 10px;
}








