@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    background-color:#7fa9fd3f;
}
.logomarca {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

p {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

p, li:hover {
    cursor: pointer;

}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #a65854e8 ;
}
li {
    padding: 20px;
}
 ul, li {
    list-style: none;
 }
.menu {
    display: flex;
    
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
}
.unha1, .unha2, .unha3, .unha4, .unha5, .unha6 {
    width: 300px;
    height: 300px;
    padding: 10px;
}



@media (max-width:360px) { 
    
    p {
        display: none;
    }
    .logomarca {

        width: 60px;
    }

    li {
    
    }


    .cabecalho {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color:  #a65854e8 ;
        width: 100%;
        height: 100%;
        
    }

    .menu {
        display: flex;
        width: 100%;
    }

}
